img.bio {
  float: left;
  width: 270px;
  padding: 10px;
  margin: 12px;
}

.sidebar {
  float: right;
  width: 300px;
  background-color: silver;
  border: 2px solid purple;
  padding: 4px;
  margin: 12px;
}

.column {
  width: 300px;
  float: left;
}
